/* ./css/hw05.css */

/* google webfont */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic&family=Noto+Sans+KR:wght@500;700&display=swap');

* { margin: 0; padding: 0; }
#wrapper {
  /* max-width: 1000px; */
  /* display: block; */
  width: 900px;
  margin: 0 auto;
}
/*
#container {
  width: 700px;
}
*/
body {
  /* font-family: 'Nanum Gothic', sans-serif; */
  /* line-height: 160%; */
}

figure {
  /* display: block; */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
figcaption {
  font-size: 0.8em;
  margin-top: 1em;
  /* margin-left: 40px; */
  /* margin-right: 40px; */
  line-height: 150%;
}
#p_company {
  font-size: 1em;
  font-family: 'Do Hyeon', sans-serif;
}
#p_headline {
  font-size: 1.85em;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}
#p_reporter {
  font-size: 0.9em;
  color: #999999;
  padding-bottom: 40px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 40px;
}
.section {
  font-size: 1.04em;
  padding: 10px 0;
}
.section p {
  padding: 5px 0;
  margin-bottom: 10px;
}
.copyright {
  margin-bottom: 50px;
}
