---
import Header from '../components/Header.astro';
---

<Header />

<html>
  <head>
    <title>mhyoc.github.io</title>
  </head>
  <body>
    <h1>환영합니다! devportfolio 스타일 포트폴리오</h1>
    <p>이 페이지는 Astro 기반 devportfolio 템플릿을 사용합니다.</p>
  </body>
</html>
