---
// devportfolio 스타일의 헤더 컴포넌트 예시
---
<header>
  <h1>mhyoc.github.io</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
